/*menu.html && blog.html*/

h2.notIndex {
    padding-top: 1.5em;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    text-align: center;
    
}

h2.notIndex span {
    color: #da573a;
    text-shadow: .01em .01em #da573a, -.01em -.01em #da573a, .01em -.01em #da573a, -.01em .01em #da573a;
}

main.menuPage {
    background: #21242e;
    color: #fafafa;
}

main.menuPage .menuMenu li {
    margin-bottom: 1em;
}

main.menuPage .menuMenu a {
    display: block;
    padding: 1em;
    border-radius: .2em;
    text-decoration: none;
    color: #fafafa;
    background-color: transparent;
    transition: background .5s;
}

main.menuPage .menuMenu a.active {
    background: #da573a;
}

main.menuPage .menuMenu a:hover, main.menu .menuMenu a:visited:hover {
    background: #da573a;
}


/* Meals */

.menuPage .flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-flow: row wrap;
    margin-top: 1.5em;
}

.menuPage .flex .columna {
    width: 100%;
}

.menuPage .flex section article.meal {
    border: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menuPage .flex section article.meal {
    margin-bottom: 0;
}

article.meal .cardImgCont {
    overflow: hidden;
}

article.meal h3 {
    font-size: 1.25rem;
    color: #fafafa;
    text-align: left;
}

article.meal h3 span.price {
    margin-left: 1em;
    color: #da573a;
}

.flex article.meal:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

/*Botón subir*/

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a.subir {
    position: absolute;
    right: .5em;
    bottom: .5em;
    display: inline-block;
    color: #fafafa;
    text-decoration: none;
    font-size: 2rem;
    padding: 1em;
    background: #da573a;
    border-radius: .2em;
}

a.subir i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* blog.html */

main .flex article.blogCard {
    border-left: none;
}

.cardImgCont {
    position: relative;
}

.cardImgCont .date {
    position: absolute;
    top: 0;
    left: 0;
    background: #da573ccc;
    color: #fafafa;
    padding: .75em 1em;
    font-weight: bold;
}

.blogCard h4 {
    color: #da573a;
    font-weight: bold;
}

/* Media queries */

/* Tablet */

@media(min-width:769px) {
    header .nav_top a span {
        display: inline;
        font-size: .5em;
    }
    header .nav_top a i {
        display: inline;
        font-size: .5em;
        font-size: .7em;
    }
    main .flex article {
        width: 50%;
        padding: 1.5em 1.5em;
        border-bottom: none;
        border-left: 1px solid #aaa;
        margin-bottom: 1em;
    }
    main .flex article:last-child {
        width: 100%;
    }
    main section .underline {
        margin-bottom: 2em;
    }
    .menuPage .flex article {
        width: 100%;
    }
}

@media(min-width:1005px) {
    header .hamburguesa {
        display: none;
        float: none;
    }
    /*Por si se redimensiona la ventana y el menú está desplegado:*/
    input#off:checked~.menu {
        height: auto;
    }
    input#on:checked~.menu {
        height: auto;
    }
    header nav .menu {
        width: auto;
        padding-top: 0;
        height: auto;
        float: right;
    }
    header nav .menu li {
        display: inline-block;
        padding: .5em 0em 0 1.25em;
        text-align: right;
        border-bottom: none;
    }
    header nav .menu li:last-child {
        display: none;
    }
    main section .flex .columna {
        width: 50%;
        padding: 2em;
    }
    .menuPage .flex {
        flex-direction: row;
    }
    .menuPage .flex>.columna:first-child {
        padding-top: 1.5em;
        width: 25%;
    }
    .menuPage .flex>.columna:last-child {
        width: 75%;
        padding-left: 3rem;
    }
    .menuPage .flex section article.meal {
        flex-direction: row;
        padding: 1.5em 0 1.5em 1.5em;
    }
    article.meal .cardImgCont {
        width: 40%;
        height: 100%;
    }
    article.meal .texto {
        width: 60%;
        padding: 0;
        margin-left: 2em;
    }
    article.meal .texto h3 {
        min-height: 3em;
    }
    article.meal .texto .enlace {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media(min-width:1201px) {
    .container {
        max-width: 1150px;
        margin: 0 auto;
        padding: 0;
    }
    .hero>div {
        padding: 7% 3%;
        max-width: 1100px;
        margin: 0 auto;
    }
    main .flex article {
        width: 33.33%;
    }
    main .flex article:last-child {
        width: 33.33%;
    }
    .menuPage .flex section article.meal {
        width: 100%;
    }
    article.meal .cardImgCont {
        width: 25%;
    }
    article.meal .texto {
        width: 75%;
        padding: 0;
        margin-left: 2em;
    }
    article.meal .texto h3 {
        min-height: auto;
    }
}