@import url(reset.css); 
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;
color rojo: #fa573a
color azul: #21242e; 
*/

:root {
  --main-color: #fa573a;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%; 
}

.container-fluid{
    width: 100%;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


body{
   font-family: 'Montserrat', 'Arial', sans-serif;
   font-size: 1em;
}
/* Flotaciones */
.row:after{
    clear: both;
    content: "";
    height:0 ;
    display: block;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

/* inicio header */

header .nav_top{
    background-color:#21242e;
    color: white;
    padding: 20px 0;
}

header .nav_top .container div{
    float: left;
    width: 25%;
   
}

header .nav_top a{
    color: white;
    text-decoration: none;
    font-size: 150%;
}

header .nav_top a span{
    display: none;
}

header .nav_top a i{
    color:var(--main-color);
}

header .nav_top .container div:nth-child(3), header .nav_top .container div:last-child{
    text-align: right;
}

/* Inicio nav */

header nav{
    padding: 20px 3%;
}

header .hamburguesa{
    cursor: pointer;
    float: right;
}

header .hamburguesa div{
    border-top: 2px solid #aaa;
    width: 1.875em;
    margin-bottom: 0.625em;
    
}

header nav .logo{
    float: left;
    width: 100px;
}

header nav .menu{
    padding-top: 60px;
}

header nav .menu li{
    padding:  1.250em;
    text-align: center;
    border-bottom: 1px solid #aaa;
}
header nav .menu li:last-child{
    border: 0px;
}

header nav .menu li a{
    color: #aaa;
    text-decoration: none;
    display: block;
}

header nav .menu li a.activo, header nav .menu li a:hover{
    color: #fa573a;
} 

/* INICIO HERO */

.hero{
    background-image: url('../images/fondo.jpg');
    height: 37em;
    background-size: cover;
    background-position: center center;
    background-color: #777;
    background-blend-mode: multiply;
}

.hero>div{
    color: white;
    padding: 15% 3%;
}

.hero h1{
    font-size: 2.5em;
    font-family: 'Handlee', cursive;    
}

.hero h2{
    color: #fa573a;
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p{
    font-size: 1.15em;
}

.boton{
    display: inline-block;
    background-color: #fa573a;
    padding: 1.15em;
    color: white;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid #fa573a;
}

.boton:hover{
    background-color: transparent;
    color: #fa573a;
}

.boton:hover i{
    transform: translateX(5px);
    transition: transform 1s;
}

.hero .social li{
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero .social li a{
    color: white;
    text-decoration: none;
}

/* MAIN */
main section.container{
    padding-top: 3.125em;
    padding-bottom: 3.125em;

}

main {
    position: relative;
    min-height: 100vh;
}

h2 {
    font-family: 'Handlee', cursive;
    text-transform: capitalize;
}
.hero h2 {
    font-size: 2rem;
}


h3, h4, h5, a {
    text-transform: capitalize;
}
main section h2{
    color: black;
    font-family: 'Handlee', cursive;
    font-size: 2em;
    text-align: center;
}

main section h2 span{
    color: #fa573a;
}
main section .underline{ 
    position: relative;
    width: 115px;
    margin: 0 auto;
    color:#fa573a;
    font-weight: bold;
    font-size: 1.5em;
    font-weight: bold
}





main section .underline hr {
    position: absolute;
    border-color: #fa573a;
    width: 100%;
    top: -2.px;
    border-radius: 1px;
}
main section .underline span{
    display: block;
    text-align: center;
    color: #fa573a;
    font-weight: 700;
}



main section .flex{
    display: flex;
    flex-wrap: wrap;
}


main .flex article.articulo {
    border-left: none;
}

main section .flex article{
    width: 100%;
    padding: 1.825em 0;
    border-bottom: 1px solid #aaa;
}

main section .flex article:last-child{
    border-bottom: 0px;
}

main section article div i{
    color: #fa573a;
    font-size: 2em;
    border: 2px solid #fa573a;
    padding: .8rem;
}

main section article div .fa-truck{
    transform: rotateY(180deg);
}

main section article h3{
    font-weight: 700;
    margin: 1em 0;
}


main section .enlace{
    text-decoration: none;
    color: #fa573a;
    margin-top: 1em;
    display: block;
}

main section .enlace:hover i{
    margin-left: 10px;
    transition: .5s;
}

main section .columna{
    width: 100%;
    padding: 1.25em 0;
}

main section .imagen{
    width: 85%;
    margin: 0 auto;
}

main section .imagen .marco{
    border: 3px solid #fa573a;
    background-color: transparent;
    transform: rotateZ(10deg);
    transition: 1s;
}

main section .imagen .marco img{
    transform: rotateZ(-10deg);
     transition: 1s;
}

main section .imagen:hover .marco, main section .imagen:hover img{
    transform: rotateZ(0deg);
}

main section h3{
    font-weight: 700;
}

main section h4{
    margin: 0.5em 0;
    color: #fa573a;
}

footer{
    background-color: #21242e;
    padding: 1.825em 0;
}

footer p{
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

/*Blog section*/

.contenedorImagen {
    position: relative;
}

.contenedorImagen{
    color:#fa573a;
    font-weight: bold;
}

.contenedorImagen .fecha p{
    
    position: absolute;
    top: 0;
    left: 0;
    background: #fa573a;
    color: #aaa;
    padding: .75em 1em;
    font-weight: bold;
     /*0 1 2 3 4 5 6 7 8 9 a b c d e f*/
  }
  
  

/*Ofertas*/

section.ofertas h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

section.ofertas hr {
    margin-left: 0;
    width: 7em;
    border-color:#fa573a;
    position: relative;
    left: 0;
    margin: 1rem 0 1rem 0;
}

section.ofertas p {
    position: relative;
}

/* Comida */

.menu .flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-flow: row wrap;
    margin-top: 1.5em;
}

.menu .flex .columna {
    width: 100%;
}

.menu .flex section article.comida {
    border: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menu .flex section article.comida>* {
    margin-bottom: 0;
}

article.comida .contenedorImagen {
    overflow: hidden;
}

article.comida h3 {
    font-size: 1.25rem;
    color: #aaa;
    text-align: left;
}

article.comida h3 span.price {
    margin-left: 1em;
    color:#fa573a;
}

.flex article.comida:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
 /*Botón arriba*/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a.arriba {
    position: absolute;
    right: .5em;
    bottom: .5em;
    display: inline-block;
    color:  #aaa;
    text-decoration: none;
    font-size: 2rem;
    padding: 1em;
    background: #fa573a;
    border-radius: .2em;
}

a.arriba i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/*Menu del dia*/
                    
main.menu {
    background:#21242e;
    color: #fafaea;
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}
    
    .menudeldia.flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
  
    
    
   
    main.menu.menulista li {
       margin-bottom: 1em;
   
    }
   
   main.menu.menulista a {
    display: block;
    padding: 1em;
    border-radius: .2em;
    text-decoration: none;
    color: #fafafa;
    background-color: transparent;
    transition:.5s;
   
   }
   
   main.menu .menulista a.active {
   background: #fa573a;
   }
   
   main.menu.menulista a:hover, main.menu .menulista a:visited:hover {
       background:#fa573a;
   }
h2.menudeldia {
    padding-top: 1.5em;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    text-align: center;
    text-shadow: .01em .01em #21242e, -.01em -.01em #21242e, .01em -.01em #21242e, -.01em .01em #21242e;
}

h2.menudeldia{
    color:#fa573a;
    /*Hay que repetir las shadow, ya que el color es diferente;*/
    text-shadow: .01em .01em #fa573a, -.01em -.01em #fa573a, .01em -.01em #fa573a, -.01em .01em #fa573a;
}

 @media(min-width: 48.063em){



    header .nav_top a span {
        display: inline;
        font-size: .5em;
    }

    header .nav_top a i {
        display: inline;
        font-size: .5em;
        font-size: .7em;
    }
        header .nav_top a span{
        display: inline;
        font-size: 70%;
    }


    main section .flex article{
        width: 50%;
        padding: 1.825em 1em;
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        margin-bottom:1em;
    }

    main section .flex article:last-child{
        width: 100%;
    }

    main section .underline{
        margin-bottom: 2em;
    }


    .carta .flex article {
        width: 100%;
    }
}

@media(min-width: 62.750em){

    header .hamburguesa{
        display: none;
        float: none;
    }

    header nav .menu{
        padding-top: 0px;
        float: right;
    }

    header nav .menu li{
        display: inline-block;
        padding: 0.5em 1.250em;
        text-align: left;
        border-bottom: 0px;
    }

    header nav .menu li:last-child{
        padding-right: 0;
    }

    main section .columna{
        width: 50%;
        padding: 1.25em 1em;
    }
    
}



@media(min-width: 75.0625em )
{
     
    .container {
        max-width: 1150px;
        margin: 0 auto;
        padding: 0;
    }
    
    main section .flex article{
        width: 33.33%;
    }   
       

      main section .flex article:last-child{
        width: 33.33%;
     }

     .hero>div{
        color: white;
        padding: 7% 3%;
        max-width: 1100px;
        margin: 0 auto;
    }

   
    
    .carta .flex section article.comida {
        width: 100%;
    }
    article.comida .contenedorImagen
     {
        width: 25%;
    }
    article.comida .texto {
        width: 75%;
        padding: 0;
        margin-left: 2em;
    }
    article.comida .texto h3 {
        min-height: auto;
    }

 
 }













